
</div>
<div class="footer-padding">
  <div class="footer">
    <a class="footer-link" href="https://www.linkedin.com/in/tejash-bansal-16301b147/?originalSubdomain=in">LinkedIn</a>
  <a class="footer-link" href="https://github.com/tejasjbansal">Github</a>
  <p class="copy-right">© 2020 Daily Blogs</p>
  </div>
</div>
</body>
</html>
